$red: rgb(233, 73, 135);
$light-red: rgb(224, 114, 156);

$header-color: rgb(236, 76, 138);
$banner-color: rgb(251, 80, 146);
$element-color-1: rgb(222, 70, 129);
$element-color-2: rgb(212, 67, 122);
