@use "../styles/variables" as *;

.container {
  font-size: large;
  font-weight: bolder;
  color: $font-color;
}

img {
  max-height: 300px;
  border-radius: 50px;
  filter: opacity(0.4) grayscale(10%);
}
