@use "../styles/variables" as *;

.container {
  font-size: larger;
  font-weight: 1000;
  color: $font-color;
}

img {
  max-height: 200px;
  max-width: 500px;
  border-radius: 30px;
  filter: opacity(0.6) grayscale(10%);
}
