@use "../styles/variables" as *;

.header {
  background-color: $header-color;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1% 2%;

  .left {
    display: flex;
    align-items: center;
  }

  p {
    margin: 3%;
    font-weight: initial;
  }

  .right {
    display: flex;
    align-items: center;

    > * {
      padding-left: 1rem;
    }
  }
}

.active {
  text-decoration: underline;
}
